/*-------
--Fonts--
--------*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*font-family: 'Shrikhand', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/*font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto2:wght@100&display=swap");
/*Animations*/
/*-------
-Variables-
--------*/
/*--------------------
------ANIMATIONS------
---------------------*/
@-webkit-keyframes pop {
  0% {
    transform: scale(0);
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}
/*--------------------
-----FIN ANIMATIONS----
---------------------*/
/*Header*/
.left_arrow {
  font-size: 18px;
  position: absolute;
  top: 24px;
  left: 5%;
}
.left_arrow a {
  color: #353535;
}

.restaurantImage {
  overflow-x: hidden;
}

img.rest__bkg {
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.menucard {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1285px;
  padding: 35px 18px;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  background-color: #f6f6f6;
}
.menucard .menu__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menucard .menu__header h1.menuheader__title {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 28px;
  margin-top: 0;
}
.menucard .card__like {
  margin-right: 20px;
}
.menucard .card__like .white {
  background-color: #f6f6f6;
}

#starter, #mainDishes, #dessert {
  margin: 0 auto 25px auto;
}
#starter .section__title, #mainDishes .section__title, #dessert .section__title {
  position: relative;
  font-family: "Roboto2", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  padding-bottom: 10px;
}
#starter .section__title::after, #mainDishes .section__title::after, #dessert .section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #99e2d0;
  width: 40px;
  height: 3px;
}
#starter .starterCard__description, #mainDishes .starterCard__description, #dessert .starterCard__description {
  font-family: "Roboto2", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  padding-top: 2px;
}
#starter .starter__card, #mainDishes .starter__card, #dessert .starter__card {
  margin: 15px 0;
  display: flex;
  width: 100%;
  height: 66px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 3px 8px 0px #b1b1b1;
  -webkit-animation: pop 1s forwards;
  animation: pop 1s forwards;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  transform: scale(0);
}
#starter .starter__card .starterCard__menu, #mainDishes .starter__card .starterCard__menu, #dessert .starter__card .starterCard__menu {
  width: 100%;
  margin: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 15px 0 15px 15px;
}
#starter .starter__card .starterCard__menu, #starter .starter__card .starterCard__title, #starter .starter__card .starterCard__description, #mainDishes .starter__card .starterCard__menu, #mainDishes .starter__card .starterCard__title, #mainDishes .starter__card .starterCard__description, #dessert .starter__card .starterCard__menu, #dessert .starter__card .starterCard__title, #dessert .starter__card .starterCard__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#starter .starter__card .starterCard__title, #starter .starter__card .starterCard__description, #mainDishes .starter__card .starterCard__title, #mainDishes .starter__card .starterCard__description, #dessert .starter__card .starterCard__title, #dessert .starter__card .starterCard__description {
  margin: 0;
}
#starter .starter__card .starterCard__price, #mainDishes .starter__card .starterCard__price, #dessert .starter__card .starterCard__price {
  margin-right: 35px;
  padding: 15px 0px;
  background-color: #ffffff;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition-duration: 0.5s;
}
#starter .starter__card .starterCard__validation, #mainDishes .starter__card .starterCard__validation, #dessert .starter__card .starterCard__validation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 75px;
  margin-right: -75px;
  background: #99E2D0;
  color: white;
  transition-duration: 0.5s;
}
#starter .starter__card:hover .rotate, #mainDishes .starter__card:hover .rotate, #dessert .starter__card:hover .rotate {
  transition: transform 0.5s;
  transform: rotate(360deg);
}
#starter .starter__card:hover .starterCard__validation, #mainDishes .starter__card:hover .starterCard__validation, #dessert .starter__card:hover .starterCard__validation {
  margin-right: -1px;
  transition-duration: 0.5s;
}
#starter .delay1, #mainDishes .delay1, #dessert .delay1 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
#starter .delay2, #mainDishes .delay2, #dessert .delay2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
#starter .delay3, #mainDishes .delay3, #dessert .delay3 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.command_button {
  margin: 0 auto;
  padding: 35px 0 50px 0;
}
.command_button .button--mainstyle {
  padding: 15px 35px;
}

/*# sourceMappingURL=menu.css.map */
