/*-------
--Fonts--
--------*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*font-family: 'Shrikhand', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/*font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto2:wght@100&display=swap");
/*-------
-Variables-
--------*/
/*-------
---Main---
--------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-transform: none;
  text-decoration: none;
  color: black;
}

ol li {
  list-style: none;
}

/*-------
--Header--
--------*/
.header {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
}
.header h1 {
  margin: 14px 0 14px 0;
  font-size: 30px;
  font-weight: 100;
}

/*-------
--Local--
--------*/
.local {
  box-shadow: inset 1px 15px 14px -14px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eaeaea;
}
.local i {
  margin-right: 10px;
}
.local .local__text {
  font-weight: 550;
}

/*------
-expOurRest-
--------*/
.expOurRest {
  height: 290px;
  background-color: #f6f6f6;
  text-align: center;
  padding: 32px;
}
.expOurRest h2 {
  margin: 8px auto;
  font-size: 24px;
}
.expOurRest p {
  font-family: "Roboto2", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 13px;
  margin-bottom: 42px;
}
.expOurRest .expOurRest__button {
  padding: 15px 20px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #ffff;
  transition: 0.5s;
}
.expOurRest .expOurRest__button:hover {
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0.88;
  box-shadow: 0.25rem 0.25rem 10px black;
}

/*------
-Operating-
--------*/
.operating {
  width: 100%;
  padding: 0 5%;
}
.operating h2 {
  margin-bottom: 20px;
}
.operating .op__card {
  width: 90%;
  position: relative;
  border-radius: 16px;
  background-color: #f6f6f6;
  box-shadow: 0px 8px 19px -4px rgba(180, 168, 168, 0.83);
  padding: 25px 20px;
  margin: 15px;
  cursor: pointer;
  transition: 0.5s;
}
.operating .op__card:hover .op__icon {
  color: #9356DC;
}
.operating .op__card:hover {
  background-color: #bb8df35d;
}
.operating .op__icon {
  font-size: 18px;
  margin-left: 10px;
  color: #7e7e7e;
}
.operating ol {
  counter-reset: listOl;
  padding: 0;
}
.operating ol li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: counter(listOl) "";
  counter-increment: listOl;
  background: #9356DC;
  height: 22px;
  width: 22px;
  border-radius: 100px;
  color: #fff;
  position: absolute;
  left: -10px;
}
.operating i {
  margin-right: 20px;
}

/*------
-Restaurants-
--------*/
.restaurants {
  padding: 32px 20px 60px;
  margin-top: 80px;
  background-color: #f5f5f5;
  overflow-y: hidden;
}
.restaurants h2.restau__title {
  margin: 0px;
}
.restaurants .restau__card {
  overflow: hidden;
  border-radius: 16px;
  background-color: #fff;
  margin: 20px auto 0 auto;
  box-shadow: -1px 3px 8px 3px rgba(0, 0, 0, 0.29);
  cursor: pointer;
}
@-webkit-keyframes change-background {
  0% {
    opacity: 100%;
  }
  10% {
    opacity: 90%;
  }
  20% {
    opacity: 80%;
  }
  30% {
    opacity: 70%;
  }
  40% {
    opacity: 60%;
  }
  50% {
    opacity: 50%;
  }
  60% {
    opacity: 40%;
  }
  70% {
    opacity: 30%;
  }
  80% {
    opacity: 20%;
  }
  90% {
    opacity: 10%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes change-background {
  0% {
    opacity: 100%;
  }
  10% {
    opacity: 90%;
  }
  20% {
    opacity: 80%;
  }
  30% {
    opacity: 70%;
  }
  40% {
    opacity: 60%;
  }
  50% {
    opacity: 50%;
  }
  60% {
    opacity: 40%;
  }
  70% {
    opacity: 30%;
  }
  80% {
    opacity: 20%;
  }
  90% {
    opacity: 10%;
  }
  100% {
    opacity: 0%;
  }
}
.restaurants .restau__card .card__like .coeur {
  margin-top: 5px;
  margin-right: 32px;
  font-size: 26px;
  cursor: pointer;
  position: relative;
}
.restaurants .restau__card .card__like .heart_like,
.restaurants .restau__card .card__like .empty_heart,
.restaurants .restau__card .card__like .white {
  position: absolute;
}
.restaurants .restau__card .card__like .white {
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants .restau__card .card__like .white i:before {
  display: initial;
}
.restaurants .restau__card .card__like .empty_heart {
  background-color: #000;
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurants .restau__card .card__like .filled {
  background-image: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants .restau__card .card__like .coeur:hover .empty_heart {
  -webkit-animation: change-background 0.35s;
  animation: change-background 0.35s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.restaurants .restau__card .card__like .coeur:hover .white {
  -webkit-animation: change-background 0.35s;
  animation: change-background 0.35s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.restaurants .restau__card .card__identity {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.restaurants .restau__card .card__img {
  position: relative;
}
.restaurants .restau__card .card__img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.restaurants .restau__card .card__title,
.restaurants .restau__card .card__place {
  margin: 0;
}
.restaurants .restau__card .card__place {
  font-family: "Roboto2", sans-serif;
  font-weight: bolder;
}
.restaurants .restau__card .new {
  border-radius: 3px;
  position: absolute;
  padding: 5px 10px;
  top: 20px;
  right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a8d6d;
  background-color: #99e2d0;
}

/*------
--Footer--
--------*/
.Footer {
  width: 100%;
  padding: 0 5%;
  height: 200px;
  color: #ffff;
  background-color: #353535;
}
.Footer h4 {
  margin: 0;
  padding: 20px 0;
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.Footer .footer_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Footer .footer_links a {
  font-family: "Roboto2", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  padding: 5px 0;
  color: #ffff;
}
.Footer .footer_links a:hover {
  text-decoration: underline;
  color: #9356DC;
}
.Footer .footer_links .footer_icon {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
