*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: rgba(58, 53, 53, 0.938);
}
.container{
    margin: 300px 150px;
}

.card{
    display: flex;
    width: 300px;
    height: 66px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 16px black;    
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card__menu{
    width: auto;
    min-width: 0;
    max-height: 66px;
    position: absolute;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 15px; 
}
.card__menu, .menutitle, .menudescription{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menutitle, .menudescription{
    margin: 0;
}

.price{
    background-color: #ffffff;
    font-weight: bolder;
    position: absolute;
    top: 33px;
    right: 0px;
    width: 40px;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    transition: right 0.5s;
}
.validation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    right: -50px;
    width: 45px;
    height: 100%;
    background: #99E2D0;
    color: white;
    transition-property: right;
    transition-duration: 0.65s;    
}

.card:hover .rotate{
    transition: transform 0.5s;
    transform: rotate(360deg);       
}
.card:hover .validation {
    transition-property: right;
    transition-duration: 0.5s;
    right: 0;
}
.card:hover .price{
    transition-duration: 0.5s;
    right: 50px;
}
.card:hover .card__menu{
    width: 70%;
}